# Test Report
> by Kristian, Daniel, Edmund

## Table of Content
1. Summary
  - Introduction
  - The Task
2. Initial Design Sprint
  - The Initial Conditions
  - The Data
  - Test Strategy
  - End of Initial Sprint
3. Main Development Sprint
  - Left Shift Testing
  - Inclusion of Gherkin and Cucumber
  - End of Main Sprint
4. Last Sprint
  - Report
  - Refactoring
  - End of Last Sprint
5. Conclusion

## 1. Summary
###  - Introduction
This report is the dokumentation of our work on the final assignment in the summer semester of 2018 software development course,
this report will focus on the testing part of the assignment which is specified 
[here.](https://github.com/datsoftlyngby/soft2018spring-test-teaching-material/blob/master/exercises/Final%20Assignment%202018.pdf)   
The short summary is that we're to follow the final database assignment, while incorperating as many testing strategies as possible,
as the main focus on the testing part is to work as a agile team, following the agile principles and using ATTD, TTD and the likes.
###  - The Task
the task is to work on the assignment in a agile team, that is able to change and adapt as the product owner changes requirements doing
the timetable of the assignment. The main goal is to setup the product for continous itegration and delivery pipeline, so it's possible
for the product to evolve in the proposed time of Q3 2018 following the following projection. 
![](https://www.praqma.com/images/stories/code-storyline/storyline.jpg)
## 2. Initial Design Sprint
###  - The Initial Conditions
Doing our introduction to the project, we noted that we were to focus on documenting our initial draft of test strategies, 
yet we found ourself pressed for time, given we were assigned three other projects
as the main project started, this resulted in us choosing to focus on those assignment primarily to ensure that the remaining time
could be focused entirely on this project.
###  - The Data

###  - Test Strategy
###  - End of Initial Sprint
## 3. Main Development Sprint
###  - Left Shift Testing
###  - Inclusion of Gherkin and Cucumber
###  - End of Main Sprint
## 4. Last Sprint
###  - Report
###  - Refactoring
###  - End of Last Sprint
## 5. Conclusion
